<% if @instructors.empty? %>
  <h1><%= t('.empty') %></h1>
<% end %>

<% @instructors.each do |instructor| %>
  <h1><%= link_to instructor.name, instructor %></h1>
  <p><%= instructor.bio %><p>
<% end %>

<%= link_to t('.register'), new_instructor_path %>
<%= link_to t('helpers.button.back'), root_path %>