<% if @instructor.profile_picture.attached? %>
  <div class="mb-3">
    <%= image_tag @instructor.profile_picture, class: 'img-thumbnail' %>
  </div>
<% end %>

<h3><%= @instructor.name %></h3>
<dl>
  <dt><%= Instructor.human_attribute_name(:email) %></dt>
  <dd><%= @instructor.email %></dd>
  <dt><%= Instructor.human_attribute_name(:bio) %></dt>
  <dd><%= @instructor.bio %></dd>
</dl>

<%= link_to t('helpers.button.back'), instructors_path, class: 'btn btn-secondary' %>
<%= link_to t('.edit'), edit_instructor_path(@instructor), class: 'btn btn-primary' %>
<%= link_to t('.destroy'), instructor_path(@instructor), method: :delete, class: 'btn btn-danger' %>