<% if @instructor.profile_picture.attached? %>
  <%= image_tag @instructor.profile_picture %>
<% end %>
<h1><%= @instructor.name %></h1>
<dl>
  <dt>Email</dt>
  <dd><%= @instructor.email %></dd>
  <dt>Biografia</dt>
  <dd><%= @instructor.bio %></dd>
</dl>

<%= link_to 'Voltar', instructors_path %>
<%= link_to 'Editar', edit_instructor_path(@instructor) %>
<%= link_to 'Excluir', instructor_path(@instructor), method: :delete %>