<% if @instructor.profile_picture.attached? %>
  <%= image_tag @instructor.profile_picture %>
<% end %>

<h1><%= @instructor.name %></h1>
<dl>
  <dt><%= Instructor.human_attribute_name(:email) %></dt>
  <dd><%= @instructor.email %></dd>
  <dt><%= Instructor.human_attribute_name(:bio) %></dt>
  <dd><%= @instructor.bio %></dd>
</dl>

<%= link_to t('helpers.button.back'), instructors_path %>
<%= link_to t('.edit'), edit_instructor_path(@instructor) %>
<%= link_to t('.destroy'), instructor_path(@instructor), method: :delete %>