<%= form_with model: [course, lesson] do |form| %>

  <div class="mb-3">
    <%= form.label :name, 'Nome', class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= form.label :duration, 'Duração', class: 'form-label' %>
    <%= form.number_field :duration, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= form.label :description, 'Descrição', class: 'form-label' %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <%= form.submit 'Criar Aula', class: 'btn btn-primary' %>
<% end %>