<% if @enrollments.empty? %>
  <h3><%= t('.empty') %></h3>
<% else %>
  <div class="card mb-3">
    <div class="card-body">
      <h3 class="card-title"><%= t('.title') %></h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"><%= Course.human_attribute_name('name') %></th>
            <th scope="col"><%= t('.bought') %></th>
            <th scope="col"><%= t('.price') %></th>
          </tr>
        </thead>
        <tbody>
          <% @enrollments.each do |enrollment| %>
            <tr>
              <td><%= link_to enrollment.course.name, enrollment.course %></td>
              <td><%= l enrollment.created_at, format: :long %></td>
              <td><%= number_to_currency enrollment.price %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
