<% if @course.banner.attached? %>
  <div class="mb-3">
    <%= image_tag @course.banner, class: 'img-thumbnail' %>
  </div>
<% end %>

<h3><%= @course.name %></h3>
<dl>
  <dt><%= Course.human_attribute_name(:description) %></dt>
  <dd><%= @course.description %></dd>
  <dt><%= Course.human_attribute_name(:instructor) %></dt>
  <dd><%= @course.instructor.name %></dd>
  <dt><%= Course.human_attribute_name(:code) %></dt>
  <dd><%= @course.code %></dd>
  <dt><%= Course.human_attribute_name(:price) %></dt>
  <dd><%= number_to_currency @course.price %></dd>
  <dt><%= Course.human_attribute_name(:enrollment_deadline) %></dt>
  <dd><%= l @course.enrollment_deadline %></dd>
</dl>

<% if user_signed_in? %>
  <% unless current_user.courses.include?(@course) %>
    <%= link_to t('.enroll'), enroll_course_path(@course), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% else %> 
  <p class="mt-3"><%= t('.login_message_html', login_path: (link_to 'login', new_user_session_path)) %></p>
<% end %>
<%= link_to t('helpers.button.back'), courses_path, class: 'btn btn-secondary' %>
<%= link_to t('.edit'), edit_course_path(@course), class: 'btn btn-primary' %>
<%= link_to t('.destroy'), course_path(@course), method: :delete, class: 'btn btn-danger' %>

<div id="lessons" class="mt-3 mb-3">
  <% if @course.lessons.empty? %>
    <h5><%= t('.lessons.empty')%></h5>
  <% else %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= t('.lessons.title')%></h5>
        <table class="table">
          <thead>
            <tr>
              <th scope="col"><%= Lesson.human_attribute_name('name') %></th>
              <th scope="col"><%= Lesson.human_attribute_name('description') %></th>
            </tr>
          </thead>
          <tbody>
            <% @course.lessons.each do |lesson| %>
              <tr>
                <% if current_user && current_user.courses.include?(@course) %>
                  <td><%= link_to lesson.name, course_lesson_path(@course, lesson) %></td>
                <% else %>
                  <td><%= lesson.name %></td>
                <% end %>
                <td><%= lesson.description %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
  <%= link_to t('.register_class'), new_course_lesson_path(@course), class: 'btn btn-primary' %>
</div>