<% if @courses.empty? %>
  <h3><%= t('.empty') %></h3>
<% else %>
  <div class="card mb-3">
    <div class="card-body">
      <h3 class="card-title"><%= Course.model_name.human(count: 2) %></h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"><%= Course.human_attribute_name('name') %></th>
            <th scope="col"><%= Course.human_attribute_name('description') %></th>
            <th scope="col"><%= Course.human_attribute_name('price') %></th>
          </tr>
        </thead>
        <tbody>
          <% @courses.each do |course| %>
            <tr>
              <td><%= link_to course.name, admin_course_path(course) %></td>
              <td><%= course.description %></td>
              <td><%= number_to_currency course.price %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<%= link_to t('.register'), new_admin_course_path, class: 'btn btn-primary' %>
<%= link_to t('helpers.button.back'), admin_root_path, class: 'btn btn-secondary' %>