<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= "Codeplay | Admin" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Codeplay" %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render partial: 'layouts/navigation', locals: { root_path: admin_root_path, courses_path: admin_courses_path, 
                                                          instructors_path: admin_instructors_path, title: 'Codeplay | Admin' } %>
    </header>
    <% if notice %>
      <div class="container px-4 mt-3 alert alert-warning">
        <span class="notice"><%= notice %></span>
      </div>
    <% end %>
    <% if alert %>
      <div class="container px-4 mt-3 alert alert-danger">
        <span class="alert"><%= alert %></span>
      </div>
    <% end %>
    <main role="main">
      <div class="container px-4 mt-3 md-3">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
    </main>
  </body>
</html>
